.land {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	width: 48px;
	height: 48px;
	background: url(../tiles.png);
}
.icecream {
	position: absolute;
	left: 0;
	top: 0;
	width: 48px;
	height: 48px;
	background: url(../tiles.png) -288px -96px;
}
.button {
	z-index: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 48px;
	height: 48px;
	background: url(../tiles.png) -240px -288px;
}

.gem {
	z-index: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 48px;
	height: 48px;
	background: url(../tiles.png) -240px -96px;
}

.pbutton {
	background-position: -240px -240px;
}

.lion {
	position: absolute;
	top: -30px;
	background-image: url('../img/lionel.png');
	background-repeat: no-repeat;
	z-index: 2;
	width: 48px;
	height: 67px;
}

.duck {
	position: absolute;
	top: -30px;
	background-image: url('../img/ducky.png');
	background-repeat: no-repeat;
	z-index: 2;
	width: 48px;
	height: 71px;
}
