@font-face
{
    font-family: SRF2;
    src: url('SRF2.ttf');
}
@font-face
{
    font-family: Consolas;
    src: url('Consolas.ttf');
}

html {
    font-family: SRF2;
}

.gamebox {
    margin: 10px auto;
    width: 1100px;
    position: relative; 
}
.overlay {
	font-family: SRF2;
	font-size: 80px;
	line-height: 1.2;
	position: absolute;
	width: 768px;
	height: 768px;
	text-align: center;
	background: #000;
	color: #fff;
	z-index: 1000;
}
table {
	float: left;
	border: 1px solid #000;
}

.sidebar {
	width: 330px;
	float: left;
}

#timerImage {
	margin-left: 20px;
	float: left;
	width: 100px;
}

#time {
    float: left;
    font-size: 10em;
    font-family: SRF2;
    text-align: center;
	padding: 65px 0 0 20px;
}

h2 {
	color: #5a8f00;
	font-size: 45px;
	font-family: 'SRF2';
	margin: 20px 0 10px 20px;
}

.commands {
    padding: 15px;
	margin: 10px 0 0 20px;
    border: 5px solid #5a8f00;
    color: #333;
    background: #fff;
    font-family: 'Consolas';
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.commands div:hover {
	background: #5a8f00;
	color: #fff;
	cursor: pointer;
}

#codeInput {
	width: 270px;
    margin: 10px 0 0 20px;
    padding: 15px;
    border: 5px solid #5a8f00;
    color: #333;
    background: #fff;
    font-family: 'Consolas';
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
	height: 120px;
}

.enterButton, .popupButton {
	border: 0px solid #5a8f00;
	margin: 10px 0 0 80px;
	cursor: pointer;
	color: #fff;
	font-size: 40px;
    background: #5a8f00;
    width: 200px;
	font-family: SRF2;
	height: 50px;
}

.clock {
    width: 192px;
    height: 766px;
    float: right;
    position: relative; 
}

.codeError {
    border: 5px solid red;
    text-align: center;
    display:none;
    opacity:0;
    padding:5px;
    margin: 10px 0 0 20px;
}

td {
	width: 48px;
	height: 48px;
	position: relative;
}
.speech {
	display: none;
	position: absolute;
	width: 300px;
	background: #ddd;
	border: 3px solid #333;
	border-radius: 8px;
	padding: 10px;
	font-family: SRF2;
	font-size: 30px;
	z-index: 10;
	line-height: 1.2;
	left: -150px;
	bottom: 100px;
}
